

.header-links {
	a {
		color: #ffffff;
		text-decoration: none;
		font-size: 0.85em;
		letter-spacing: 0.5px;
		font-weight: 400;
		margin: 0 0 4px 16px;
		display: inline-block;
		//justify-Content: space-between;
		// text-Align: right;
		// display: flex;
		// flex-Wrap: wrap;
		// flex-direction: row;
	}
}
    
/*  .menu-links /
    color: #ffffff;
	text-decoration: none; */
	
/* .menu__item--selected 
	text-decoration: underline;
	*/
